.wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.banner {
	border-radius: 44px;
	filter: brightness(30%);
	height: 350px;
	object-position: center;
	object-fit: cover;
}

.content {
	white-space: break-spaces;
}
