.videoContainer {
	height: 570px;
	background-color: #212121;
	border-radius: 44px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.videoContent {
	position: relative;
}

.videoPanel {
	padding: 0 80px;
	display: flex;
	gap: 20px;
	justify-content: end;
}

.videoPanel img {
	cursor: pointer;
}

.video {
	position: relative;
	filter: brightness(30%);
	width: 100%;
	height: 500px;
}

.videoStartBtn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
}
