.wrapper {
	display: flex;
	flex-direction: column;
	gap: 150px;
}

.item {
	width: 100%;
	position: relative;
}

.carouselPhoto {
	height: 100%;
	filter: brightness(30%);
	width: 100%;
}

.carouselContentWrapper {
	display: flex;
	flex-direction: column;
	gap: 165px;
	padding: 60px 0;
}

.carouselContainer {
	display: flex;
	justify-content: center;
	gap: 30px;
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
}

.arrowContainer {
	height: 100%;
	display: flex;
	align-items: center;
}

.carouselContent {
	gap: 20px;
	width: 950px;
	display: flex;
	flex-direction: column;
}

.item2 {
	background-color: rgb(255, 167, 167);
}
