.postItem {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 44px;
	width: 405px;
	height: 475px;
	background-color: #212121;
}

.postItemContent {
	position: relative;
}

.postItemImg {
	background: center;
	border-radius: 44px;
	width: 405px;
	height: 405px;
	filter: brightness(30%);
}

.postItemTitle {
	text-align: center;
	font-size: 36px;
	width: 310px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 130px);
	text-decoration: underline;
}

.postPanel {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.postPanel img {
	cursor: pointer;
}
